* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

body {
  margin: 0px;
}

.header .informations {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.header .purchase-p {
  border-radius: 15px;
  border: 1px solid grey;
  padding: 5px 15px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 32px;
  background-color: black;
}

.container .left h1 {
  font-size: 4em;
}

.container .left p {
  color: grey;
}

.container .left button {
  color: white;
  padding: 15px;
  background-color: blue;
  border: 1px solid blue;
  padding: 15px 18px;
  border-radius: 30px;
  font-size: large;
  cursor: pointer;
  margin-top: 40px;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container form input {
  padding: 10px;
  font-size: larger;
  border: 1px solid black;
  border-radius: 7px;
}

.form-container form button {
  background-color: aquamarine;
  font-weight: bold;
  font-size: large;
  padding: 12px;
  border-radius: 10px;
  border: transparent;
}

.form-container form button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.form-container .res .box {
  padding: 35px 100px;
  border-radius: 12px;
  background-color: white;
  background-color: white;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}